In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

When preparing data for a deep learning model, its best to encode categorical data first. We can use the same DataFrame for the next preprocessing step.

Looking at the top of our DataFrame, there are multiple columns with categorical values as well as our numerical values. To make things easier, we should generate a list of categorical variable names. Instead of searching across all 35 columns and keeping track of which variables need categorical preprocessing, we'll let Python do all of the heavy lifting. As an added bonus, we can use our variable list to perform the one-hot encoding once, rather than for each individual variable. To generate our variable list, we'll use Pandas Dataframe.dtypes property.

In [2]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [3]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

Now that we have our variable names separated, we can start to preprocess our data starting with the one-hot encoding of the categorical data. Looking at our attrition_cat variable, there are eight categorical variables that need encoding. However, before we loop through our variables and encode them using Scikit-learn's OneHotEncoder module, we need to make sure that none of the categorical variables have more than 10 unique values and require bucketing.

In [4]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

According to the nunique method, none of the categorical variables have more than 10 unique values, which means we're ready to encode. Previously, we have encoded a single variable at a time, but Scikit-learn is flexible enough to perform all of the one-hot encodings at the same time. The only difference from our single variable example is we need to pass our attrition_cat variable list.

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

Now that our categorical variables have been encoded, they are ready to replace our unencoded categorical variables in our dataset. To replace these columns, we'll use a combination of Pandas' merge and drop methods.

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

Next we must split our training and testing data, then standardize our numerical variables using Scikit-learn's `StandardScaler module.` For our purposes, we want to build a model that will predict whether or not a person is at risk for attrition; therefore, we must separate the "Attrition" columns from the rest of the input data. In fact, because the attrition data is dichotomous (one of two values), we only need to keep the "Attrition_Yes" column—we can ignore the "Attrition_No" column because it is redundant. To separate our features and target as well as perform our training/test split.

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

Now that our training and testing data have been allocated, we're ready to build our StandardScalerobject and standardize the numerical features.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Now that our data is preprocessed via one-hot encoding and standardization, we should probably perform a gut check to ensure that no data has been lost from our original DataFrame.

At last, our data is preprocessed and separated and ready for modelling. For our purposes, we will use the same framework we used for our basic neural network:

- For our input layer, we must add the number of input features equal to the number of variables in our feature DataFrame.
- In our hidden layers, our deep learning model structure will be slightly different—we'll add two hidden layers with only a few neurons in each layer. To create the second hidden layer, we'll add another Keras Dense class while defining our model. All of our hidden layers will use the relu activation function to identify nonlinear characteristics from the input values.
- In the output layer, we'll use the same parameters from our basic neural network including the sigmoid activation function. The sigmoid activation function will help us predict the probability that an employee is at risk for attrition.

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

Looking at our model summary, we can see that the number of weight parameters (weight coefficients) for each layer equals the number of input values times the number of neurons plus a bias term for each neuron. Our first layer has 55 input values, and multiplied by the eight neurons (plus eight bias terms for each neuron) gives us a total of 448 weight parameters—plenty of opportunities for our model to find trends in the dataset.

Now it is time to compile our model and define the loss and accuracy metrics. Since we want to use our model as a binary classifier, we'll use the binary_crossentropy loss function, adam optimizer, and accuracy metrics, which are the same parameters we used for our basic neural network. To compile the model, add and run the following code:

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 486us/step - loss: 2131.3208 - accuracy: 0.1724
Epoch 2/100
35/35 [==============================] - 0s 458us/step - loss: 1190.6301 - accuracy: 0.1724
Epoch 3/100
35/35 [==============================] - 0s 458us/step - loss: 451.9562 - accuracy: 0.3339
Epoch 4/100
35/35 [==============================] - 0s 429us/step - loss: 88.2625 - accuracy: 0.7123
Epoch 5/100
35/35 [==============================] - 0s 458us/step - loss: 52.3719 - accuracy: 0.7995
Epoch 6/100
35/35 [==============================] - 0s 458us/step - loss: 37.0404 - accuracy: 0.7813
Epoch 7/100
35/35 [==============================] - 0s 429us/step - loss: 24.0470 - accuracy: 0.7768
Epoch 8/100
35/35 [==============================] - 0s 429us/step - loss: 15.6402 - accuracy: 0.7459
Epoch 9/100
35/35 [==============================] - 0s 458us/step - loss: 12.7413 - accuracy: 0.7405
Epoch 10/100
35/35 [==============================] - 0s 429us/step - loss: 11.4681 - accuracy: 0.7632
Epoch 11/100
35/35 [==============================] - 0s 429us/step - loss: 10.5749 - accuracy: 0.7432
Epoch 12/100
35/35 [==============================] - 0s 429us/step - loss: 9.2351 - accuracy: 0.7604
Epoch 13/100
35/35 [==============================] - 0s 458us/step - loss: 8.1243 - accuracy: 0.7568
Epoch 14/100
35/35 [==============================] - 0s 458us/step - loss: 7.0501 - accuracy: 0.7641
Epoch 15/100
35/35 [==============================] - 0s 458us/step - loss: 6.1301 - accuracy: 0.7532
Epoch 16/100
35/35 [==============================] - 0s 486us/step - loss: 5.3802 - accuracy: 0.7495
Epoch 17/100
35/35 [==============================] - 0s 458us/step - loss: 4.7331 - accuracy: 0.7523
Epoch 18/100
35/35 [==============================] - 0s 486us/step - loss: 3.7894 - accuracy: 0.7532
Epoch 19/100
35/35 [==============================] - 0s 429us/step - loss: 3.1303 - accuracy: 0.7623
Epoch 20/100
35/35 [==============================] - 0s 458us/step - loss: 2.3742 - accuracy: 0.7677
Epoch 21/100
35/35 [==============================] - 0s 458us/step - loss: 2.0153 - accuracy: 0.7586
Epoch 22/100
35/35 [==============================] - 0s 458us/step - loss: 1.5644 - accuracy: 0.7668
Epoch 23/100
35/35 [==============================] - 0s 458us/step - loss: 1.5781 - accuracy: 0.7577
Epoch 24/100
35/35 [==============================] - 0s 458us/step - loss: 1.4139 - accuracy: 0.7668
Epoch 25/100
35/35 [==============================] - 0s 458us/step - loss: 1.3027 - accuracy: 0.7659
Epoch 26/100
35/35 [==============================] - 0s 458us/step - loss: 1.5461 - accuracy: 0.7613
Epoch 27/100
35/35 [==============================] - 0s 458us/step - loss: 1.3965 - accuracy: 0.7541
Epoch 28/100
35/35 [==============================] - 0s 429us/step - loss: 1.1532 - accuracy: 0.7595
Epoch 29/100
35/35 [==============================] - 0s 458us/step - loss: 1.0471 - accuracy: 0.8085
Epoch 30/100
35/35 [==============================] - 0s 458us/step - loss: 1.0085 - accuracy: 0.7541
Epoch 31/100
35/35 [==============================] - 0s 429us/step - loss: 1.1645 - accuracy: 0.7632
Epoch 32/100
35/35 [==============================] - 0s 458us/step - loss: 1.0613 - accuracy: 0.7704
Epoch 33/100
35/35 [==============================] - 0s 429us/step - loss: 0.9785 - accuracy: 0.7659
Epoch 34/100
35/35 [==============================] - 0s 458us/step - loss: 0.9025 - accuracy: 0.7904
Epoch 35/100
35/35 [==============================] - 0s 429us/step - loss: 1.0242 - accuracy: 0.7686
Epoch 36/100
35/35 [==============================] - 0s 429us/step - loss: 0.7912 - accuracy: 0.7831
Epoch 37/100
35/35 [==============================] - 0s 429us/step - loss: 0.7901 - accuracy: 0.7958
Epoch 38/100
35/35 [==============================] - 0s 515us/step - loss: 0.9095 - accuracy: 0.7722
Epoch 39/100
35/35 [==============================] - 0s 429us/step - loss: 0.9077 - accuracy: 0.7886
Epoch 40/100
35/35 [==============================] - 0s 429us/step - loss: 1.1155 - accuracy: 0.7704
Epoch 41/100
35/35 [==============================] - 0s 486us/step - loss: 0.9471 - accuracy: 0.7768
Epoch 42/100
35/35 [==============================] - 0s 458us/step - loss: 0.7307 - accuracy: 0.8131
Epoch 43/100
35/35 [==============================] - 0s 400us/step - loss: 1.4527 - accuracy: 0.7423
Epoch 44/100
35/35 [==============================] - 0s 486us/step - loss: 0.7637 - accuracy: 0.7958
Epoch 45/100
35/35 [==============================] - 0s 427us/step - loss: 0.9064 - accuracy: 0.7704
Epoch 46/100
35/35 [==============================] - 0s 429us/step - loss: 1.0544 - accuracy: 0.7641
Epoch 47/100
35/35 [==============================] - 0s 458us/step - loss: 0.7114 - accuracy: 0.8013
Epoch 48/100
35/35 [==============================] - 0s 444us/step - loss: 0.7922 - accuracy: 0.7695
Epoch 49/100
35/35 [==============================] - 0s 429us/step - loss: 0.8356 - accuracy: 0.7804
Epoch 50/100
35/35 [==============================] - 0s 458us/step - loss: 1.9210 - accuracy: 0.7495
Epoch 51/100
35/35 [==============================] - 0s 400us/step - loss: 0.8766 - accuracy: 0.7623
Epoch 52/100
35/35 [==============================] - 0s 458us/step - loss: 0.9285 - accuracy: 0.7750
Epoch 53/100
35/35 [==============================] - 0s 429us/step - loss: 0.7106 - accuracy: 0.8013
Epoch 54/100
35/35 [==============================] - 0s 429us/step - loss: 0.6966 - accuracy: 0.8058
Epoch 55/100
35/35 [==============================] - 0s 429us/step - loss: 0.7449 - accuracy: 0.7958
Epoch 56/100
35/35 [==============================] - 0s 458us/step - loss: 0.6277 - accuracy: 0.8149
Epoch 57/100
35/35 [==============================] - 0s 429us/step - loss: 0.7175 - accuracy: 0.7949
Epoch 58/100
35/35 [==============================] - 0s 456us/step - loss: 0.5784 - accuracy: 0.8303
Epoch 59/100
35/35 [==============================] - 0s 429us/step - loss: 0.7607 - accuracy: 0.7922
Epoch 60/100
35/35 [==============================] - 0s 400us/step - loss: 0.7545 - accuracy: 0.8022
Epoch 61/100
35/35 [==============================] - 0s 458us/step - loss: 0.9170 - accuracy: 0.7623
Epoch 62/100
35/35 [==============================] - 0s 429us/step - loss: 0.5948 - accuracy: 0.8212
Epoch 63/100
35/35 [==============================] - 0s 429us/step - loss: 0.8189 - accuracy: 0.7704
Epoch 64/100
35/35 [==============================] - 0s 458us/step - loss: 0.7612 - accuracy: 0.7768
Epoch 65/100
35/35 [==============================] - 0s 458us/step - loss: 0.9537 - accuracy: 0.7804
Epoch 66/100
35/35 [==============================] - 0s 429us/step - loss: 1.0642 - accuracy: 0.7541
Epoch 67/100
35/35 [==============================] - 0s 429us/step - loss: 0.8507 - accuracy: 0.8022
Epoch 68/100
35/35 [==============================] - 0s 429us/step - loss: 0.8847 - accuracy: 0.7677
Epoch 69/100
35/35 [==============================] - 0s 458us/step - loss: 0.9143 - accuracy: 0.7895
Epoch 70/100
35/35 [==============================] - 0s 429us/step - loss: 1.0179 - accuracy: 0.7568
Epoch 71/100
35/35 [==============================] - 0s 429us/step - loss: 0.7974 - accuracy: 0.7831
Epoch 72/100
35/35 [==============================] - 0s 429us/step - loss: 0.7364 - accuracy: 0.7831
Epoch 73/100
35/35 [==============================] - 0s 400us/step - loss: 0.6748 - accuracy: 0.7967
Epoch 74/100
35/35 [==============================] - 0s 429us/step - loss: 0.5845 - accuracy: 0.8131
Epoch 75/100
35/35 [==============================] - 0s 458us/step - loss: 1.1961 - accuracy: 0.7650
Epoch 76/100
35/35 [==============================] - 0s 400us/step - loss: 0.7781 - accuracy: 0.7768
Epoch 77/100
35/35 [==============================] - 0s 429us/step - loss: 0.7020 - accuracy: 0.8058
Epoch 78/100
35/35 [==============================] - 0s 458us/step - loss: 1.0269 - accuracy: 0.7632
Epoch 79/100
35/35 [==============================] - 0s 458us/step - loss: 0.9876 - accuracy: 0.7568
Epoch 80/100
35/35 [==============================] - 0s 429us/step - loss: 0.7658 - accuracy: 0.7840
Epoch 81/100

35/35 [==============================] - 0s 429us/step - loss: 0.6348 - accuracy: 0.8176
Epoch 82/100
35/35 [==============================] - 0s 429us/step - loss: 1.2674 - accuracy: 0.7514
Epoch 83/100
35/35 [==============================] - 0s 429us/step - loss: 0.9382 - accuracy: 0.7668
Epoch 84/100
35/35 [==============================] - 0s 429us/step - loss: 0.7791 - accuracy: 0.7840
Epoch 85/100
35/35 [==============================] - 0s 400us/step - loss: 0.7815 - accuracy: 0.7795
Epoch 86/100
35/35 [==============================] - 0s 458us/step - loss: 0.6443 - accuracy: 0.8040
Epoch 87/100
35/35 [==============================] - 0s 429us/step - loss: 0.5728 - accuracy: 0.8149
Epoch 88/100
35/35 [==============================] - 0s 458us/step - loss: 0.6396 - accuracy: 0.8022
Epoch 89/100
35/35 [==============================] - 0s 429us/step - loss: 0.6306 - accuracy: 0.8085
Epoch 90/100
35/35 [==============================] - 0s 429us/step - loss: 0.6038 - accuracy: 0.8076
Epoch 91/100
35/35 [==============================] - 0s 429us/step - loss: 0.5022 - accuracy: 0.8230
Epoch 92/100
35/35 [==============================] - 0s 429us/step - loss: 0.5351 - accuracy: 0.8249
Epoch 93/100
35/35 [==============================] - 0s 458us/step - loss: 0.7378 - accuracy: 0.7967
Epoch 94/100
35/35 [==============================] - 0s 429us/step - loss: 0.5332 - accuracy: 0.8212
Epoch 95/100
35/35 [==============================] - 0s 400us/step - loss: 0.5941 - accuracy: 0.7995
Epoch 96/100
35/35 [==============================] - 0s 429us/step - loss: 0.6633 - accuracy: 0.7886
Epoch 97/100
35/35 [==============================] - 0s 429us/step - loss: 0.6482 - accuracy: 0.8113
Epoch 98/100
35/35 [==============================] - 0s 543us/step - loss: 0.5596 - accuracy: 0.8330
Epoch 99/100
35/35 [==============================] - 0s 458us/step - loss: 0.9352 - accuracy: 0.7686
Epoch 100/100
35/35 [==============================] - 0s 458us/step - loss: 0.6027 - accuracy: 0.8158

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.5706 - accuracy: 0.8723
Loss: 0.5705739855766296, Accuracy: 0.8722826242446899

Looking at our deep learning model's performance metrics, the model was able to correctly identify employees who are at risk of attrition approximately 87% of the time. Considering that our input data included more than 30 different variables with more than 1,400 data points, the deep learning model was able to produce a fairly reliable classifier.